<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authors list</title>
</head>
<body>
    <table>
        <tr>
            <th>Id</th>
            <th>Firstname</th>
            <th>Lasttname</th>
        </tr>
        <tr th:each="author : ${authors}">
            <td th:text="${author.id}"></td>
            <td th:text="${author.firstName}">Spring in action</td>
            <td th:text="${author.lastName}">LPQ!</td>
        </tr>
    </table>
</body>
</html>